
/* directions */

$ltrdir:ltr;
$rtldir:rtl;
$left:left;
$right:right;

/* //directions */

/* color */
$whitecolor:#fff;
$greencolor:#20C997;
$bgreencolor:#30bb92;
$cgreencolor:#00B58C;
$dgreencolor:#95D7C7;
$purplecolor:#E9E8FF;
$bluecolor:#34489E;
$abluecolor:#3447A0;
$cbluecolor:#213482;
$redcolor:#dc3545;
$darkbluecolor:#003C63;
$browncolor:#585858;
$dgraycolor:#4A6C87;
$fegraycolor:#575F6E;
$graycolor:#B6B6B6;
$cvgraycolor:#C9C9C9;
$cgraycolor:#C4C4C4;
$lgraycolor:#E2E4E5;
$egraycolor:#EFF1F8;
$fgraycolor:#F4F8FB;
$ecgraycolor:#ECECEC;
$qgraycolor:#E7E7E7;
$darkcolor:#000;
$blackcolor:#344046;
$dblackcolor:#242731;
$fblackcolor:#242426;
/* //colors */